#mainWrapper {
    background: #fff;
    font: 10px sans-serif;

}

#mainWrapper svg {
    left: 0;
    position: absolute;
    top: 0;
}

#mainWrapper circle.topBubble {
    fill: #aaa;
    stroke: #666;
    stroke-width: 1.5px;
}

.mainRect {
    
    animation: float 6s ease-in-out infinite;
}

.subchildRect {
    cursor: pointer;
    animation: float 6s ease-in-out infinite;
}

.subchildRectText {
    cursor: pointer;
}

.description {
    font-family: "Open Sans Regular", Verdana, Arial;
    font-size: 13px;
    fill: #444444;
}

@keyframes float {
    from { transform: rotate(0deg) translateX(-5px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(-5px) rotate(-360deg); }
}

text tspan {
    cursor:default;
}

.tspanMore {
    cursor: pointer;
}

.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.fadein {
    opacity: 1;
}

/*@keyframes float {*/
/*0% {opacity: 0.1}*/
/*49%{opacity: 0.5}*/
/*50% {opacity: 1}*/
/*}*/

/*float{animation: blink 0.3s infinite;}*/

/*Styling elements*/
.tspanMore {
    text-decoration: underline;
    cursor:pointer;
}

text {
    text-anchor: start;
    fill: #000000;
    cursor: pointer;
}


.topics_a {
    stop-color: #2018FD;
    stop-opacity:0.3;
}


.topics_b {
    stop-color: #0000FF;
    stop-opacity:0.7;
}


.topics_c {
    stop-color:#0000FF;
    stop-opacity:0.7;
}



.scenarios_a {
    stop-color: #FEB458;
    stop-opacity:0.6;
}


.scenarios_b {
    stop-color: #F0F012;
    stop-opacity:0.8;
}


.scenarios_c {
    stop-color:#F0F012;
    stop-opacity:0.8;
}



.tools_a {
    stop-color: #FF7672;
    stop-opacity:0.7;
}


.tools_b {
    stop-color: #FF0088;
    stop-opacity:0.8;
}


.tools_c {
    stop-color:#FF0088;
    stop-opacity:0.8;
}

.childRectText {
    text-anchor: start;
    font-size: 23px;
}

.subchildRectText {
    font-size: 20px;
}

.subchildRectsubText {
    font-size: 13px;
}